/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gloria+Hallelujah&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {
    --hero-font: 'Gloria Hallelujah', serif;
    --primary-font: 'Funnel Sans', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --primary-color: #fff7ef; /* off white */
    --secondary-color: #402e32; /* dark brown */
    --highlight-color: #ef8a01; /* orange */
    --light-highlight-color: #e66c4e; /* salmon */
    --bright-background-color1: #ef5d8b; /* hot pink */
     --bright-background-color2: #0073be; /* light blue */
    --calm-primary-color: #fff7ef; /* beige */
    /* --calm-secondary-color: /* brown */
    /* --calm-highlight-color: /* green */
    /* --calm-light-highlight-color: turqoise */
    /* --calm-background-color1: purple */

}

/* Global styles */

/* resets browser to clean slate */
/* reset to remove any default padding and margin that browsers apply to elements */
* {
    padding: 0;
    margin: 0;
}

body {
    color:#fff7ef;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    color: var(--light-highlight-color);
    font-family: 'Gloria Hallelujah', serif;
}

p {
    color:var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    
}

btn {
    font-family: 'Open Sans', sans-serif;
}
/* Navbar */

.navbar {
    background-color: #ef8a01;
}

.nav-link {
    color: var(--secondary-color);
}

.navbar img {
    width: 30px;
    margin-right: 1rem;
}

/* Hero section */

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/hero.jpg') no-repeat center center;
    background-size: cover;
    color: var(--bright-background-color1);
    padding: 200px 0 10px;
    height: 50vh;
}

.hero-section h1 {
    columns: var(--light-highlight-color);
}

.hero-section p {
    color:#fff7ef;
    font-family: 'Open Sans', sans-serif;
    
}
/* About section */

section-dark{
    height: 100vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center; /* centers flex items horizontally within container */
    align-items: center; /* centers flex items vertically within container */
    background-color: var(--bright-background-color2);
}

.desc {
    color:#402e32;
    font-size: 1.6rem;
}